body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f4f4f9;
    color: #333;
}

header {
    background-color: #BC002D; /* Définis la couleur de fond en rouge */
    color: white; /* Change la couleur du texte pour améliorer la visibilité */
    text-align: center;
    padding: 20px 10px;
}

header h1 {
    margin: 0;
    padding: 20px 0;
    background-color: rgba(0, 0, 0, 0); /* Fond semi-transparent pour le titre */
    display: inline-block;
}

nav ul {
    list-style-type: none;
    padding: 0;
}

nav ul li {
    display: inline;
    margin-right: 10px;
}

nav ul li a {
    color: black;
    text-decoration: none;
    background-color: #f4f4f9; /* Couleur de fond des boutons */
    padding: 10px 20px; /* Espacement interne pour augmenter la taille du bouton */
    border-radius: 8px; /* Rayon des coins arrondis */
    display: inline-block; /* Permet aux liens de respecter les propriétés de padding et de border */
    transition: background-color 0.3s; /* Transition douce pour les interactions */
}

nav ul li a:hover {
    background-color: #e5afbc; /* Changement de couleur au survol */
}

footer {
    background-color: #BC002D;
    color: #fff;
    text-align: center;
    padding: 10px 20px;
    position: fixed;
    bottom: 0;
    width: 100%;
}

section {
    margin: 20px;
}

.center-text {
    text-align: center;
}

.category-description {
    text-align: center;
    margin-bottom: 30px;
}

.category-button {
    display: block;
    width: 300px; /* Width of the button */
    height: 200px; /* Height of the button */
    background-size: cover;
    background-position: center;
    color: white;
    text-align: center;
    line-height: 200px; /* Vertical centering for the text */
    border-radius: 15px; /* Rounded corners */
    margin: 10px auto; /* Centers the button and adds space around */
    transition: transform 0.3s ease; /* Smooth transform effect on hover */
}

.category-button:hover {
    transform: scale(1.05); /* Slightly enlarges the button on hover */
}

.category-button span {
    background-color: rgba(0, 0, 0, 0.5); /* Semi-transparent overlay for readability */
    padding: 10px 20px; /* Padding inside the span */
    border-radius: 10px; /* Ensures the span also has rounded corners */
}
