body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f4f4f9;
    color: #333;
}

header {
    background-color: #BC002D; /* Définis la couleur de fond en rouge */
    color: white; /* Change la couleur du texte pour améliorer la visibilité */
    text-align: center;
    padding: 20px 10px;
}

header h1 {
    margin: 0;
    padding: 20px 0;
    background-color: rgba(0, 0, 0, 0); /* Fond semi-transparent pour le titre */
    display: inline-block;
}

nav ul {
    list-style-type: none;
    padding: 0;
}

nav ul li {
    display: inline;
    margin-right: 10px;
}

nav ul li a {
    color: black;
    text-decoration: none;
    background-color: #f4f4f9; /* Couleur de fond des boutons */
    padding: 10px 20px; /* Espacement interne pour augmenter la taille du bouton */
    border-radius: 8px; /* Rayon des coins arrondis */
    display: inline-block; /* Permet aux liens de respecter les propriétés de padding et de border */
    transition: background-color 0.3s; /* Transition douce pour les interactions */
}

nav ul li a:hover {
    background-color: #e5afbc; /* Changement de couleur au survol */
}

footer {
    background-color: #BC002D;
    color: #fff;
    text-align: center;
    padding: 10px 20px;
    position: fixed;
    bottom: 0;
    width: 100%;
}

section {
    margin: 20px;
}

.category-links {
    display: flex;
    justify-content: space-around;
    margin-top: 20px;
}

.category-button {
    display: block;
    width: 200px;
    height: 200px;
    background-size: cover;
    background-position: center;
    color: #fff;
    text-align: center;
    line-height: 200px; /* Vertically center text */
    text-decoration: none;
    font-size: 24px;
    font-weight: bold;
}

.category-button span {
    background-color: rgba(0, 0, 0, 0); /* Dark background for text readability */
    padding: 5px 10px;
}

.center-text {
    text-align: center;
}
